@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(206, 206, 206);
    background-size: cover;
    background-position: center;

}


.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(243, 104, 104);
    padding: 30px 40px;
    box-shadow: rgba(17, 12, 46, 0.397) 0px 48px 100px 0px;;
}

.caixa {

    width: 100%;
    height: 45px;
    background-color:rgba(245, 146, 146, 0.185) ;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 10px; 
}

.escritorio {

    width: 100%;
    height: 45px;
    background-color:rgba(245, 146, 146, 0.185) ;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
    font-weight: 600;
    border-radius: 10px; 
}

.caixa:hover{

    background-color: rgba(60, 60, 252, 0.24);
    border: none;
    outline: none;
    transition: 0.5s;
    opacity: 2s;
    color: rgb(8, 4, 187);

}

.escritorio:hover{

    background-color: rgba(60, 60, 252, 0.24);
    border: none;
    outline: none;
    transition: 0.5s;
    opacity: 2s;
    color: rgb(8, 4, 187);

}